{# CSS #}
<link rel="stylesheet" href="{{ asset('css/map.style.css') }}">

{# HTML #}
<div class="full">
    <div class="container">
        <div id="map"></div>
    </div>
</div>


{# JS #}
<script src="{{ asset('js/map.js') }}"></script>